html,
body {
  font-family: sans-serif;
}

body {
  padding: 15px;
}

header img {
  width: 50%;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
  text-align: center;
  height: 18rem;
  border-radius: 0.5rem;

}

main{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
