html,
body {
  font-family: sans-serif;
}

.card {
  padding: 15px;
}

header img {
  width: 50%;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
  text-align: center;
  height: 18rem;
  border-radius: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#block1 {
  background: linear-gradient(rgba(229, 97, 97, 0.6), rgba(240, 187, 187, 0.6)),
    url("./img/forest.jpeg");
  background-size: cover;
}
#block2 {
  background: linear-gradient(rgba(96, 222, 54, 0.6), rgba(159, 184, 164, 0.6)),
    url("./img/road.jpeg");
  background-size: cover;
}
#block3 {
  background: linear-gradient(rgba(96, 79, 226, 0.6), rgba(200, 206, 227, 0.6)),
    url("./img/sky.jpeg");
  background-size: cover;
}
#block4 {
  background: linear-gradient(rgba(209, 225, 32, 0.6), rgba(213, 233, 181, 0.6)),
    url("./img/train\ station.jpeg");
  background-size: cover;
}
.container {
  padding: 15px;
  background: #eee;
}
.fa-brands {
  font-size: 3rem;
  padding: 0.5rem;
  color: gray;
  transition: all 1s;
}
.fa-brands:hover {
  color: palevioletred;
  transform: scale(150%) rotate(360deg);
}
h2 {
  color: gray;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid gray;
  height: 1.8rem;
  padding: 1rem;
  text-transform: capitalize;
  background-color: transparent;
}

button {
  height: 3rem;
  background-color: rgb(54, 43, 43);
  color: white;
  letter-spacing: 0.7rem;
  font-weight: bold;
  border: none;
}
button:hover {
  background-color: palevioletred;
}
@media screen and (min-width: 460px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .block {
    width: 18rem;
    flex-grow: 1;
  }
}
